<div class="seccionSlider">
    <div id="sliderSuperior" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="./assets/imagenes/teparty.jpg" class="imagenSlider" />
          <div class="carousel-caption d-none d-md-block">
            <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet"/> 
            <h2 class="isologo">Watercolor</h2>
            <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet"/> 
            <h5 class="slogan">eventos infantile</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src="./assets/imagenes/foto0.jpg" class="imagenSlider" />
          <div class="carousel-caption d-none d-md-block">
              <h2 class="isologo">Watercolor</h2>
              <h5 class="slogan">eventos infantiles</h5>
          </div>
        </div>
        <div class="carousel-item">
            <img src="./assets/imagenes/foto5.jpg" class="imagenSlider" />
            <div class="carousel-caption d-none d-md-block">
              <h2 class="isologo">Watercolor</h2>
              <h5 class="slogan">eventos infantiles</h5>
            </div>
          </div>
      </div>
      <a class="carousel-control-prev" href="#sliderSuperior" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
      </a>
      <a class="carousel-control-next" href="#sliderSuperior" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Siguiente</span>
      </a>
    </div>
  </div>
